{% extends 'base.html.twig' %}

{% block title %} Calendrier global
{% endblock %}

{% block body %}

	<div class="row justify-content-center mx-auto" style="margin-top: 50px">
		<div class="col-sm-2 mx-auto">
			<h3>Calendrier Wiki</h3>
		</div>
	</div>

	<div class="justify-content-center" id="calendar" style="margin-top: 20px; margin-bottom: 100px">
		{% for date in dates %}
			<div class="color">
				<p>
					{{ date.month }} {{ date.year }}
					<br>
					{{ date.weekday_fr }}
					<br>
					<br>
					{{ date.day }}
				</p>
			</div>
		{% endfor %}
	</div>

	<div style="height: 200px">
	</div>

{% endblock %}
